.stats {
  width: 100%;
}
.centered-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.search-list {
  margin: 0 auto;
  max-width: 1000px;
  flex: 1 1 0;
  min-width: 0;
}

.mediums {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  margin-top: 2rem;
  flex: 0 0 400px;
}